{% extends "../../layout.jinja2" %}
{% block content %}
<!-- Request Breakdown -->
<div class="row align-items-start mb-5">
    {% if not selected_status %}
        <!-- All Requests -->
        {% for status_type, color, icon, text in [('Total', 'dark', 'bi bi-person-circle text-dark', 'white'),
                                        ('Approved', 'success', 'bi bi-check-circle text-success', 'white'),
                                        ('Denied', 'danger', 'bi bi-x-circle text-danger', 'white'),
                                        ('Pending', 'warning', 'bi bi-stopwatch text-warning', 'dark')] %}
            <div class="col-xs-12 col-sm-6 col-xl-2 mb-4 mb-xl-0">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="mb-4"><i class="{{ icon }}" style="font-size: 1.75em;"></i></div>
                        <p class="fs-2 mb-1">{{ status_counts[status_type.lower() + '_requests'] }}</p>
                    </div>
                    <div class="card-footer bg-{{ color }} py-3">
                        <p class="text-{{text}} fw-medium mb-0">{{ status_type }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <!-- Status / Environment Specific Requests -->
        {% for status_type, color, icon, text in [('Pending', 'warning', 'bi bi-stopwatch text-warning', 'dark'),
                                        ('Approved', 'success', 'bi bi-check-circle text-success', 'white'),
                                        ('Denied', 'danger', 'bi bi-x-circle text-danger', 'white')] %}
            {% if selected_status == status_type %}
                <div class="col-xs-12 col-sm-6 col-xl-2 mb-4 mb-xl-0">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="mb-4"><i class="{{ icon }}" style="font-size: 1.75em;"></i></div>
                            <p class="fs-2 mb-1">{{ status_counts[status_type.lower() + '_requests'] }}</p>
                        </div>
                        <div class="card-footer bg-{{ color }} py-3">
                            <p class="text-{{text}} fw-medium mb-0">{{ status_type }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <!-- Request Filters -->
    {% if not selected_status %}
    <div class="col-xs-12 col-xl-3 offset-xl-1 mb-4 mb-xl-0">
    {% else %}
    <div class="col-xs-12 col-xl-3 offset-xl-7 mb-4 mb-xl-0">
    {% endif %}
        <div class="card shadow request-filters">
            <div class="card-body">
                <h6 class="text-white fw-medium d-flex align-items-center mb-4"><i class="bi bi-funnel-fill text-white me-3" style="font-size: 1.75em;"></i> Request Filters</h6>
                <form id="filterForm" method="get">
                    <!-- Status Filter -->
                    <div>
                        <label class="small text-white mb-2" for="status"> Status</label>
                        <select class="form-control" name="status" id="status">
                            <option value="" {% if not selected_status %}selected{% endif %}>All</option>
                            <option value="Pending" {% if selected_status == 'Pending' %}selected{% endif %}>Pending</option>
                            <option value="Approved" {% if selected_status == 'Approved' %}selected{% endif %}>Approved</option>
                            <option value="Denied" {% if selected_status == 'Denied' %}selected{% endif %}>Denied</option>
                        </select>
                    </div>
                    <!-- Environment Filter -->
                    <div class="mt-3">
                        <label class="small text-white mb-2" for="environment"> Environment</label>
                        <select class="form-control" name="environment" id="environment">
                            <option value="" {% if not selected_environment %}selected{% endif %}>All</option>
                            <option value="Test" {% if selected_environment == 'Test' %}selected{% endif %}>Test</option>
                            <option value="Development" {% if selected_environment == 'Development' %}selected{% endif %}>Development</option>
                            <option value="Production" {% if selected_environment == 'Production' %}selected{% endif %}>Production</option>
                        </select>
                    </div>
                </form>
                <form class="mt-4" method="post">
                    <button type="submit" class="btn btn-light" name="exportData" id="exportData"><i class="bi bi-filetype-csv me-2"></i> Export to CSV</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Request Table -->
<div class="card shadow mb-5">
    <div class="card-body">
        {% if result %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Team</th>
                            <th scope="col">Environment</th>
                            <th scope="col">Request Date</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in result %}
                            <tr>
                                <td>{{ item.get('access-first-name') }} {{ item.get('access-last-name') }}</td>
                                <td>{{ item.get('access-team') }}</td>
                                <td>{{ item.get('access-environment') }}</td>
                                <td>{{ item.get('access-request-date') }} </td>
                                <!-- Request Status -->
                                {% if item.get('access-status') == "Pending" %}
                                    <td>
                                        <span class="badge rounded-pill px-3 py-2 text-bg-warning">
                                            <i class="bi bi-stopwatch-fill text-white me-2"></i> {{ item.get('access-status') }}
                                        </span>
                                    </td>
                                {% elif item.get('access-status') == "Approved" %}
                                    <td>
                                        <span class="badge rounded-pill px-3 py-2 text-bg-success">
                                            <i class="bi bi-check-circle-fill text-white me-2"></i> {{ item.get('access-status') }}
                                        </span>
                                    </td>
                                {% elif item.get('access-status') == "Denied" %}
                                    <td>
                                        <span class="badge rounded-pill px-3 py-2 text-bg-danger">
                                            <i class="bi bi-x-circle-fill text-white me-2"></i> {{ item.get('access-status') }}
                                        </span>
                                    </td>
                                {% else %}
                                    <td>
                                        <span class="badge rounded-pill px-3 py-2 text-bg-secondary">
                                            <i class="bi bi-x-circle-fill text-white me-2"></i> {{ item.get('access-status') }}
                                        </span>
                                    </td>
                                {% endif %}
                                <td>
                                    <a class="me-3" href="/env/request/{{ item.get('Request-ID') }}"><i class="bi bi-folder2-open"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="lead text-center mb-0 py-4">There are no records to display.</p>
        {% endif %}
    </div>
</div>
<!-- Automatically apply filters when selected -->
<script>
    const filterElements = document.querySelectorAll('select');
    filterElements.forEach(element => {
        element.addEventListener('change', function() {
            document.getElementById('filterForm').submit();
        });
    });
</script>
{% endblock content %}