{% extends "../../layout.jinja2" %}
{% block content %}
<div class="row">
    <div class="col-12 col-lg-7">
        <div class="card shadow">
            <div class="card-header">
                <h2 class="h4 my-3 ps-2">{{title}}</h2>
            </div>
            <div class="card-body">
                <div class="mb-3 pt-2 ps-2">
                    <p>You are required to reset your password before you can log in.</p>
                    <form method="post">
                        <!-- Email Address -->
                        <div class="row">
                            <div class="col-12 mb-3 mb-lg-0">
                                <label for="emailAddress" class="col-form-label">Email Address</label>
                                <input type="email" class="form-control" name="emailAddress" id="formEmailAddress" />
                                <span id="emailAddressError" class="text-danger small pt-3"></span>
                            </div>
                        </div>
                        <!-- New Password -->
                        <div class="row">
                            <div class="col-12 mb-3 mb-lg-0">
                                <label for="newPassword" class="col-form-label">New Password</label>
                                <input type="password" class="form-control" name="newPassword" id="formNewPassword" />
                                <span id="newPasswordError" class="text-danger small pt-3"></span>
                            </div>
                        </div>
                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary mt-4">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
