{% extends "../layout.jinja2" %}
{% block content %}
    <div class="row">
        {% if approved_environments %}
            {% for environment in approved_environments %}
                <!-- Environment -->
                <div class="col-12 mb-4 col-md-4">
                    <div class="card shadow h-100">
                        <div class="card-body">
                            <i class="bi bi-lock-fill menu-icon" style="font-size: 2.5em;"></i>
                            <p class="mt-2 mb-1"><small>Environment</small></p>
                            <h5 class="card-title fw-medium">{{environment.get('access-environment')}}</h5>
                            <h6 class="card-subtitle mt-3">You have access to the <strong>{{ environment.get('access-environment') }}</strong> environment. Please see below for the ability to download the VPN profile and display the URL for this environment.</h6>
                            <p class="mt-4">
                                <!-- Display URL -->
                                <button type="button" id="showEnvironmentURL-{{environment.get('access-environment')}}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{environment.get('access-environment')}}">
                                    <i class="bi bi-link-45deg me-2"></i> Display URL
                                </button>
                            </p>
                        </div>
                    </div>
                    <!-- Display URL Modal -->
                    <div class="modal fade" id="modal{{ environment.get('access-environment') }}" tabindex="-1" role="dialog" aria-labelledby="modal{{environment.get('access-environment')}}Label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title fw-medium"><i class="bi bi-lock-fill me-2"></i> {{environment.get('access-environment')}} Environment URL</h5>
                                </div>
                                <div class="modal-body mb-2">
                                    <h6 class="card-subtitle">You have been granted access to the <strong>{{environment.get('access-environment')}}</strong> environment. Please see below for the ability to download the VPN profile and display the environment URL.</h6>
                                    <!-- Environment URL -->
                                    <div class="input-group mt-3">
                                        <span class="input-group-text"><i class="bi bi-link"></i></span>
                                        <input class="form-control" type="text" name="environmentURL-{{environment.get('access-environment')}}" id="environmentURL-{{environment.get('access-environment')}}" value="{{environment.get('access-environment-url')}}" readonly />
                                        <button class="btn btn-outline-primary" type="button" onclick="copyEnvironmentURLtoClipboard()">
                                            <i class="bi bi-copy me-2"></i> Copy URL
                                        </button>
                                    </div>
                                    <!-- Copy URL Function -->
                                    <script>
                                        function copyEnvironmentURLtoClipboard() {
                                            var copyText = document.getElementById("environmentURL-{{environment.get('access-environment')}}");
                                            // Check if the element exists and if navigator.clipboard is available (HTTPS only):                                            
                                            if (copyText && navigator.clipboard) {
                                                copyText.select();
                                                copyText.setSelectionRange(0, 99999); // This is required for mobile devices
                                                navigator.clipboard.writeText(copyText.value)
                                                    .then(() => {
                                                        console.log('Text copied to clipboard');
                                                    })
                                                    .catch((error) => {
                                                        console.error('Failed to copy text to the clipboard: ', error);
                                                    });
                                            } else {
                                                console.error('Failed to copy text to the clipboard: navigator.clipboard is not available or element not found.');
                                            }
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <p class="lead text-center mb-0 py-4">There are no environments to display.</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
