
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

#pDebug #pDebugToolbarHandle                      { position: fixed; top: 90% !important; right: 1% !important;}

body, h1, h2, h3, h4, h5, h6, p                   { font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; }
button, input, optgroup, select, textarea         { color: black; }
strong, .modal-title                              { font-weight: 600; }

.card-subtitle                                    { line-height: 1.5; }
.modal-footer                                     { border-top: 0 !important }
.text-white-75                                    { color: rgba(255,255,255,.5)!important; }

.nav-header                                       { background: var(--bs-gray-800); padding: 3.5rem 0 7.5rem 0; }
.sub-nav-header                                   { background: var(--bs-gray-700);}

.request-filters                                  { background: var(--bs-gray-600); }

.mt-neg                                           { margin-top: -4.75rem; }
.mt-neg-dashboard                                 { margin-top: -7rem; }

.home-link                                        { color: var(--bs-white); text-decoration: none; }
.menu-icon                                        { font-size: 3em; }
.start-80                                         { left: 80%; }

.notification-message                             { border-bottom: 1px solid var(--bs-border-color); padding: 15px; }

.timeline-with-icons                              { border-left: 1px solid hsl(0, 0%, 90%); position: relative; list-style: none; left: 15px; padding-right: 10px; }
.timeline-with-icons .timeline-item               { position: relative; }
.timeline-with-icons .timeline-item:after         { position: absolute; display: block; top: 0; }
.timeline-with-icons .timeline-icon               { position: absolute; left: -48px; border-radius: 50%; height: 31px; width: 31px; display: flex; align-items: center; justify-content: center; }

.alert-success                                    { --bs-alert-bg: var(--bs-success); }
.alert-info                                       { --bs-alert-bg: var(--bs-blue); }
.alert-danger                                     { --bs-alert-bg: var(--bs-danger); }

.flash-message                                    { position: fixed; left: 1rem; bottom: 1rem; width: 30%; animation: fadeOut 8s forwards; }

@keyframes fadeOut {
  0%, 30%   { opacity: 1; }
  100%      { opacity: 0; display: none; }
}

::placeholder                                     { color: var(--bs-gray-500) !important; opacity: 1; /* Firefox */ }
::-ms-input-placeholder                           { /* Edge 12 -18 */ color: var(--bs-gray-500) !important; }
