{% extends "layout.jinja2" %}
{% block content %}
  <div class="row">
    <!-- Request Environment Access -->
    <div class="col-12 mb-5 col-md-6 mb-lg-0 col-lg-4">
      <div class="card shadow h-100">
        <div class="card-body">
          <i class="bi bi-person-fill-add menu-icon"></i>
          <h5 class="card-title fw-medium mt-3">Request Environment Access</h5>
          <h6 class="card-subtitle">Here you can make a request for access to an environment.</h6>
          <p><a href="/env/request/" role="button" class="btn btn-primary mt-4">Request Access</a></p>
        </div>
      </div>  
    </div>
    <!-- Get Environment URL's -->
    <div class="col-12 mb-5 col-md-6 mb-lg-0 col-lg-4">
      <div class="card shadow h-100">
        <div class="card-body">
          <i class="bi bi-link-45deg menu-icon"></i>
          <h5 class="card-title fw-medium mt-3">Get Environment URL's</h5>
          <h6 class="card-subtitle">Here you can generate and use the latest environment URL's.</h6>
          <p><a href="#" role="button" class="btn btn-primary mt-4">Get Environment URL's</a></p>
        </div>
      </div>  
    </div>
    <!-- Generate VPN Profiles -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card shadow h-100">
        <div class="card-body">
          <i class="bi bi-lock-fill menu-icon"></i>
          <h5 class="card-title fw-medium mt-3">Download VPN Profiles</h5>
          <h6 class="card-subtitle">Here you can generate and download the latest VPN profiles.</h6>
          <p><a href="#" role="button" class="btn btn-primary mt-4">Download VPN Profiles</a></p>
        </div>
      </div>  
    </div>
  </div>
{% endblock content %}