<!DOCTYPE html>
<html lang="{{request.locale_name}}">
<head>
  <!-- META Tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="pyramid web application">
  <meta name="author" content="Pylons Project">
  <!-- HTML Title -->
  <title>{{title}} - Self Service User Portal</title>
  <!-- Bootstrap Core CSS & Custom Stylesheets -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <link href="{{request.static_url('self_service_portal:assets/theme.css')}}" rel="stylesheet">
</head>
<body>
  <main class="starter-template">
    <!-- Sub Nav -->
    <div class="container-fluid sub-nav-header">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid ps-0 pe-0">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- Notifications
              <li class="nav-item dropdown me-3">
                <a class="nav-link text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-bell-fill"></i>
                  <span class="position-absolute start-80 translate-middle p-1 bg-danger rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                  </span>
                </a>
                <ul class="dropdown-menu py-0">
                  <!-- Approved Request
                  <li>
                      <a class="dropdown-item notification-message" href="#">
                          <p class="mb-1"><small class="text-black-50">10/01/2024 11:15</small></p>
                          <div>
                            <h6 class="fw-medium">Environment Access Request</h6>
                            <span><i class="bi bi-check-circle-fill text-success me-2"></i></span>
                            <span class="fw-light">Your request was <strong class="fw-normal">approved</strong> by Ryan Jackson.</span>
                          </div>
                      </a>
                  </li>
                  <!-- Denied Request
                  <li>
                      <a class="dropdown-item notification-message" href="#">
                        <p class="mb-1"><small class="text-black-50">09/01/2024 15:30</small></p>
                        <div>
                          <h6 class="fw-medium">Environment Access Request</h6>
                          <span><i class="bi bi-x-circle-fill text-danger me-2"></i></span>
                          <span class="fw-light">Your request was <strong class="fw-normal">denied</strong> by Ryan Jackson.</span>
                        </div>
                      </a>
                  </li>
                </ul>
              </li>
              -->
              <!-- Navigation Menu -->
              <li class="nav-item"><a class="nav-link ps-0 text-white" href="/">Home</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Environment Access</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/env/"><i class="bi bi-speedometer2 me-2"></i> Dashboard</a></li>
                  <li><a class="dropdown-item" href="/env/request/new/"><i class="bi bi-plus-circle me-2"></i> New Request</a></li>
                </ul>
              </li>
            </ul>
            <span class="navbar-text">
              <!-- New Access Request -->
              {% if "Environment Access" in subtitle %}
                <a role="button" href="/env/request/new/" class="btn btn-sm btn-light"><i class="bi bi-plus-circle me-2"></i> New Request</a>
              {% endif %}
            </span>
          </div>
        </div>
      </nav>
    </div>
    </div>
    <!-- Main Heading -->
    <div class="container-fluid nav-header">
      <div class="container">
        <h5><a href="/" class="home-link text-white-50">{{subtitle}}</a></h5>
        <h1 class="fw-semibold text-white">{{title}}</h1>
      </div>
    </div>
    <!-- Page Content -->
    <div class="container-fluid {% if title == 'Dashboard' %}mt-neg-dashboard{% else %}mt-neg{% endif %}">
      <div class="container">
        {% block content %}
          <p>No content</p>
        {% endblock content %}
      </div>
    </div>
  </main>
  <!-- Bootstrap Core JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>